@model Cozastore.models.Categoria
@{
    ViewData["Title"] = "Categoria";
}

<h1>Categoria</h1>
<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="filtrar" /> @Html.DisplayNameFor(model => model.filtrar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="banner" /> @Html.DisplayNameFor(model => model.banner)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaPaiId" class="control-label"></label>
                <select asp-for="CategoriaPaiId" class ="form-control" asp-items="ViewBag.CategoriaPaiId">
                <option value="Nenhuma Categoria"></option>
                </select>
            </div>
             <div class="form-group">
                <label asp-for="foto" class="control-label"></label>
                <input  type="file" asp-for="foto" class="form-control" accept=".jpg,.jpeg,.png,.gif,.jfif" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a listagem</a>
</div>

